// Bootstrap
@import 'node_modules/bootstrap/scss/bootstrap';

// FontSource - alegreya-sans-sc 
@import "@fontsource/alegreya-sans-sc";

// FontAwesome
@import 'node_modules/@fortawesome/fontawesome_free/css/all.min.css';

* {
    font-family: "Alegreya Sans SC", sans-serif;
}

.container{
    width: 90%;
    margin: 0 auto;
}